.moja_kutija {
    background-color: rgb(1, 54, 37);
    color: aqua;
    padding: 20px;
    border: 1px solid grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}